.features {
  padding: 96px 0;
}

.features .container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-list-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 288px;
}

.features-list-item h3 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.features-list-item p {
  color: #434455;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.features-icon-container {
  display: none;
}

@media (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 16px;
    gap: 72px 24px;
  }

  .features-list-item {
    flex-basis: calc((100% - 24px) / 2);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .features-list-item h3 {
    text-align: left;
  }

}

@media (min-width: 1158px) {
  .features {
    padding: 120px 0;
  }

  .features .container {
    flex-direction: row;
    padding: 0 16px;
    max-width: 1158px;
  }

  .features-list {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    padding: 0 16px;
  }

  .features-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .features-icon-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    max-width: 264px;
    height: 112px;
  }

  .features-list-item h3 {
    line-height: 1.2;
    font-size: 20px;
  }

  .features-list-item p {
    font-weight: 400;
  }
}