.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 16px;

  position: relative;

  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px;
  width: 408px;
  height: 584px;

  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
}
.modal-text {
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.close-btn {
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #2e2f4266;
  border-radius: 24px;
  width: 24px;
  height: 24px;

  position: absolute;
  top: 24px;
  right: 24px;

  margin-bottom: 24px;

  cursor: pointer;

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover .close-btn-icon,
.close-btn:focus .close-btn-icon {
  fill: #ffffff;
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border-color: #404bbf;
}
.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 38px;
  width: 360px;
  height: 40px;
  max-width: 360px;
  min-height: 40px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
  outline: none;
}
.form-input.textarea {
  padding: 8px 16px;
  height: 120px;
  resize: none;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.form-input.textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.form-label {
  color: #8e8f99;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.17;
  margin-bottom: 4px;
  display: block;
}
.input-wrapper {
  position: relative;
  margin-bottom: 8px;
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: #2e2f42;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrapper:focus-within .form-icon {
  fill: #4d5ae5;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox-input {
  opacity: 0;
  position: absolute;
}
.custom-checkbox {
  width: 16px;
  height: 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input:checked + .checkbox-label .custom-checkbox {
  background-color: #404bbf;
  border-color: #4d5ae5;
}

.custom-checkbox svg {
  fill: #f4f4fd;
  opacity: 0;
}
.checkbox-input:checked + .checkbox-label .custom-checkbox svg {
  opacity: 1;
}
.checkbox-text {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  line-height: 1.17;
}
.checkbox-text a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.send-form-btn {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  letter-spacing: 0.04em;
  font-weight: 500;

  margin-left: 95.5px;
  margin-top: 24px;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-form-btn:focus,
.send-form-btn:hover {
  background-color: #404bbf;
}
