.team {
  background-color: #f4f4fd;
  padding: 96px 0px;
  margin: 0 auto;
}

.team .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.team-list {
  display: flex;
  gap: 72px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.team-card-text {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  gap: 8px;
}

.team-list-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  max-width: 264px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list-item p {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 400;
}

.team-list-item h3 {
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-size: 20px;
}

.socials-list-item a:hover,
.socials-list-item a:focus {
  background-color: #404BBF;
}

@media (min-width: 768px) {
  .team {
    padding: 96px 0;
  }

  .team .container {
    gap: 72px;
  }

  .team-list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .team-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }

  .team .container {
    gap: 72px;
    padding: 0 16px;
  }

  .team-list {
    gap: 24px;
    flex-wrap: nowrap;
  }

  .team-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}